doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='chrome=1')
    meta(name='viewport', content='initial-scale=1.0, user-scalable=no, width=device-width')
    style(type='text/css').
      * {
      margin: 0;
      padding: 0;
      }
      .container {
      padding: 15px;
      }
      h1 {
      font-family: 'Microsoft YaHei UI', 'Source Sans Pro', sans-serif;
      text-align: center;
      font-size: 24px;
      font-weight: 500;
      line-height: 1.1;
      color: inherit;
      margin: 10px;
      }
      p {
      text-indent: 2em;
      line-height: 1.5;
      font-size: 16px;
      }
      .h3 {
      text-indent: 1.75em;
      margin-top: 10px;
      font-size: 18px;
      }
    title 用户协议
  body
    .container
      h1
        | 用户注册协议
      p
        | 请您在使用专利书包bag.cnuip.com网站及App客户端（以下简称“网站与App”）、接受中高知识产权股份有限公司（以下简称“中高”）与专利书包联合提供的知识产权服务之前，请您仔细阅读《用户注册协议》
        | （以下简称“本协议”）。
      p.h3
        | 1、总则
      p
        | 1.1在本协议中，“您”指客户、网站与App浏览者、技术使用者；“我们”指本网站与App；“服务”指本网站提供的所有相关服务。
      p
        | 1.2当您在使用网站与App时，或进行相关注册，或接受相关服务时，代表您已经同意遵守并受本协议约束，并同意遵守中国相关法律法规，所以请您务必仔细阅读本协议。
      p
        | 1.3为更好地为您服务，我们将更新本协议，相关通知，将在网站与App上公示，请您留意网站与App的通知。
      p
        | 1.4如果您不同意本协议的相关条款，请您立即停止使用网站与App及其服务。
      p
        | 1.5您同意使用网站与App及其技术服务时，您应保证具备签订合同的民事行为能力。
      p.h3
        | 2、用户注册信息
      p
        | 2.1当您在网站与App或使用网站与App服务时，您应当提供完整、准确、真实的注册信息。如果您没有提供完整、准确、真实的注册信息，因此而导致您的权利受损，网站与App免责。
      p
        | 2.2请您妥善保管您的密码和帐号。非因网站与App原因导致的密码及帐号泄露，网站与App不承担法律责任。
      p
        | 2.3当您的账户、用户名及密码非经您本人授权被使用时，您应及时通知我们。我们及时采取措施，减少您的利益受损。但在我们采取措施之前的损失，网站与App免责。
      p
        | 2.4对于您从网站与App了解的商业秘密，您有义务保密。未经网站与App的书面许可，您不得向任何第三方披露或允许其使用该商业秘密
      p
        | 2.5您确保所注册的手机号、身份证、姓名及工作单位等信息与本人相符，如果您冒用他人信息进行注册或者所注册信息与本人信息不符的，由此给他人及我们造成的一切损失由您负全部法律责任。
      p.h3
        | 3、用户信息保护
      p
        | 3.1您在注册帐号时和使用网站与App服务时，网站与App将采集包括注册信息、案件信息、非个人化信息等用户信息。
      p
        | 3.2专利书包仅在符合下列条件之一的情况下，对收集到的您的用户信息进行限制使用。
      p
        | 1）在取得您的书面授权的情况下；
      p
        | 2）当您的人身权和财产权面临重大损害时；
      p
        | 3）当第三人的权益面临重大损害时；
      p
        | 4）依照政府机关命令或司法机关要求时。
      p
        | 3.3 因使用网站与App所需用户提供的相关资料，协议等，均作为机密材料，专利书包未经用户允许不得向第三方泄露。
      p
        | 3.4在不透露单个用户隐私资料的前提下，专利书包有权对整个用户数据库进行分析并对用户数据库进行商业上的利用。
      p.h3
        | 4、用户使用限制
      p
        | 4.1您不得将我们的服务标志、注册商标、文档及图片、计算机软件等从其原来的位置上移除或做任何修改；
      p
        | 4.2您不得实施侵犯网站与App内容及计算机软件所涉及的知识产权之行为；
      p
        | 4.3不得注册恶意的用户账号或利用网站与App账号，进行违法活动，以及干扰、欺骗、损坏本网站与App其他网站与App，以及网站与App用户。
      p
        | 4.4不得在本网站与App内容或您上传的资料中安装插件或软件，以上传、链接、跳转、推广非网站与App授权的资料。
      p
        | 4.5不得利用网站与App上传违反法律、行政法规、互联网管理方面的部门规章之内容，包括但不限于：宣传暴力、色情、破坏民族团结、侮辱、诽谤他人之内容。
      p
        | 4.6不得利用网站与App或对网站与App进行传播病毒、进行黑客攻击、入侵计算机系统、窃取他人的帐号及密码、侵犯他人商业秘密及其他知识产权之行为。
      p
        | 4.7对于前述4.1到4.6条等违反国家法律、行政法规的行为，网站与App有权在不通知您的情况下删除非法信息，并有权对您的帐号进行关闭或注销，不再提供知识产权服务，
        | 且不退还您已经支付的所有费用；由此造成的一切损失，由您自行负责，本网站与App免责。
      p.h3
        | 5、服务规则及内容
      p
        | 5.1用户需自行配备使用电话咨询和上网所需的设备。
      p
        | 5.2专利书包的用户同意接受专利书包通过电子邮件、短信平台、即时通信的客户端、网页或其他合法方式向用户发送知识产权服务内容或其他相关服务信息。
      p
        | 5.3用户依本协议所取得的服务权利不可转让。
      p
        | 5.4用户应遵守国家法律、行政法规、或服务协议，如用户违法行为损害他人合法权益，导致专利书包或中高知识产权股份有限公司所遭受任何损害或遭受任何来自第三方的索赔要求等，用户应向专利书包及中高知识产权股份有限公司赔偿相应的损失，用户并需对其违反服务条款所产生的一切后果负全部法律责任。
      p
        strong
          | 当用户获得专利书包账号后，即视为授权中高公司有权在www.cnuip.com网站或APP及各分中心平台上展示用户的专利及其相关信息。
      p
        | 5.6当用户选择代缴专利年费服务后，专利宝应根据国家知识产权局的通知及时将专利年费的缴费提醒在缴费期限之前以系统推送或短信等形式告知用户，用户可以选择自行缴纳或者委托专利宝代缴。上述缴费提醒为专利宝提供的免费服务，如因国家知识产权局的通知延误或错误、或通信客户端、网页、系统推送、短信等其他非人为因素所导致的缴费提醒延误或错误，本网站免责。
      p
        | 5 .7 由专利书包提供的服务产生的服务费（如：专利代缴年费服务费）和代缴年费由用户支付给专利书包。服务费发票由南京中高知识产权股份有限公司开具，年费由专利书包代缴，由国家知识产权局开具。
      p
        | 5.8专利书包实名注册用户可以通过专利书包商品上架功能，将“发明人”为用户的专利上架到中高知识产权运营交易平台进行展示、交易。用户需保证各项文件的合法性，由此造成的法律风险由用户自己承担。
      p
        | 5.9所有知识产权服务，均在用户全额支付约定费用后，专利书包开始为用户提供服务。
      p
        strong
          | 基于专利年费代缴具有严格的时间期限性，专利书包不接受国家知识产权局所规定距离缴费截止之日小于5个工作日的年费代缴服务，对用户提交距离缴费截止之日小于5个工作日的年费代缴服务，专利书包不保证能够缴费成功，由此所造成的责任，由用户自行承担。
      p.h3
        | 6、免责声明
      p
        | 6.1防止黑客攻击和计算机病毒入侵一直是我们努力的目标，我们将采取措施，包括使用当下的防护措施，来保护用户的注册信息和帐号之安全，以及网站与App的安全。但我们不能担保您的帐户和密码以及网站与App一定免受攻击。因此而导致的不能正常使用，我们将免责。
      p
        | 6.2非网站与App所控制的通信线路故障导致您不能使用网站与App而造成的损失，不承担赔偿责任。
      p
        | 6.3因网站与App的技术故障等不可预测事件影响到服务的正常运行的，网站与App承诺在第一时间与相关单位配合，及时处理进行修复；但是，您因此而遭受的一切损失，本网站与App免责。
      p
        | 6.4您在向网站与App输入文件时，应事先做好备份，因信息丢失使您遭受损失的，本网站与App免责。
      p
        | 6.5因政府或司法行为导致您的不能使用本网站与App，我们将免责。
      p
        | 6.6本网站与App的雇员没有违反对您的法定义务情况下，造成您的损失，本网站与App免责。
      p
        | 6.7专利书包网站与App上供下载的文档为通用模板，供用户参考。用户下载后，应根据自身实际情况进行修改，用户使用网站与App上下载的文档或自行修改的文档所产生后果应自行承担。
      p
        | 6.8因地震、洪水、暴风雨等不可抗力或其他非因专利书包原因造成网络中断，使用户暂时不能使用相关服务的，专利书包免责。
      p
        | 6.9若专利书包系统因维修、升级等原因影响正常服务的，专利书包应在网站与App进行公告，若因专利书包未进行公告而给用户造成损失的专利书包应承担责任。
      p
        | 6.10专利书包网站与App的内容、计算机程序及软件、相关法律服务，均拥有合法的知识产权，用户应合法使用，不得侵犯知识产权。
      p
        | 6.11专利书包网站与App对用户在线申请的内容负有保密责任，若泄密，造成用户经济损失的，专利书包承担相应责任。
      p
        | 6.12
        | 对于您向本网站与App提供或上传的任何信息、文本、图片、法律文件等资料，应保证其真实、有效，对于任何有侵犯他人权益的行为、或者有被第三人举报所涉内容侵犯他人权益的行为，以及伪造、变造相应资料的行为，本网站与App有权在未经您同意的情况下冻结账号，并删除涉嫌侵权、伪造的资料，由此给他人造成的损害，本网站与App不承担任何责任。
      p.h3
        | 7、知识产权声明
      p
        | 7.1本网站与App及其技术的唯一所有者和使用者为中高知识产权股份有限公司。
      p
        | 7.2本网站与App上的内容和一切涉及本网站与App的计算机技术软件知识产权归属中高知识产权股份有限公司，用户不得侵犯。
      p.h3
        | 8、通知送达
      p
        | 本协议项下本网站与App对于用户所有的通知均可通过网页公告、电子邮件、手机短信或常规的信件传送等方式进行；该通知于发送之日视为已送达收件人。
      p.h3
        | 9、本协议的效力
      p
        | 本协议中的任何条款无效不影响本协议的其余条款的法律效力。
      p.h3
        | 10、法律适用及争议解决
      p
        | 10.1本协议的订立、执行、解释及纠纷、争议的解决均适用中国法律，受中国法律管辖。
      p
        | 10.2因本协议发生任何纠纷，双方应协商一致解决；协商不成的，双方均可向本网站住所地的人民法院提起诉讼。
